body{
    margin: 0;
    background-color: rgb(104, 146, 187);
    text-align: center;
}
span {
    display: block;
}
.button{
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 2px solid black;
}
#grey{
    background-color: grey;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}